@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');


// HEADER
.nav {
  background-color: rgb(22, 19, 19);
  //  padding: 0 0 1em 0;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;
  color: white;

  .logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .logo {
      margin-left: 1em;

      img {
        width: 70px;
        //box-shadow: 0 0 10px white;
        filter: drop-shadow(0 0 0.75rem $yellow);
        border-radius: 1em;
        padding: 0.5em 0.3em 0.5em 0;
      }
    }

    .searchbar {
      margin-right: 1em;

      input {
        padding: 0.5em;
      }

      button {
        padding: 0.5em;
      }
    }
  }

  .nav-links {

    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;

    a {
      color: $yellow;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      text-decoration: overline;
    }
  }
}


//FOOTER
footer {
  font-family: 'Amatic SC', sans-serif;
  background-color: $brown;
  box-shadow: inset 0 0 25px $yellow;
  padding: 0.1em;
  position: sticky;



  @include mixins.tablet {
    font-size: 1.5em;
  }

  @include mixins.large {
    font-size: 2em;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    //margin-left: -2em;

    .foot-elem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mixins.mobile {
      li {
        display: none;
      }
    }

    img {
      height: 3em;

      @include mixins.tablet {
        height: 1.7em;
      }


    }

    img:hover {
      background-color: $brown;
      border-radius: 25%;
      box-shadow: 0 0 25px $yellow;
    }
  }
}


  
  
