@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');


// HEADER
.nav {
  background-color: $brown;
  box-shadow: inset 0 0 25px $yellow;
  padding: 0 0 1em 0;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;

  .logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    .logo {
      margin-left: 1em;

      img {
        width: 70px;
      }
    }

    .searchbar {
      margin-right: 1em;

      input {
        padding: 0.5em;
      }

      button {
        padding: 0.5em;
      }
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;

    a {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      text-decoration:underline;
    }
  }
}


//FOOTER
footer {
  font-family: 'Amatic SC', sans-serif;
  background-color: $brown;
  box-shadow: inset 0 0 25px $yellow;
  padding: 0.1em;

  @include mixins.tablet {
    font-size: 1.5em;
  }

  @include mixins.large {
    font-size: 2em;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    //margin-left: -2em;

    .foot-elem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mixins.mobile {
      li {
        display: none;
      }
    }

    img {
      height: 3em;

      @include mixins.tablet {
        height: 1.7em;
      }


    }

    img:hover {
      background-color: $brown;
      border-radius: 25%;
      box-shadow: 0 0 25px $yellow;
    }
  }
}


//WELCOME

.welcome-img {
  background-image: url("../img/jeteelac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 2.5em;

    a {
      font-size: 0.7em;
      text-decoration: none;
      color: black;
      background-color: $blue;
      padding: 0.01em 0.2em;
      border-radius: 2em;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 40px $brown;
    }

    a:hover {
      box-shadow: inset 0 0 15px $brown;

    }
  }
}

//DESTINATIONS

.destinationsimg {
  background-image: url("../img/oldpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  font-family: 'Amatic SC', sans-serif;
  text-shadow: 0 0 15px white;
  justify-content: space-evenly;

  @include mixins.tablet {
    flex-direction: column;
  }

  @include mixins.large {
    flex-direction: column;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    text-decoration: underline;
    margin-left: 0.5em;

    @include mixins.tablet {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 3.2em;
    }

    @include mixins.large {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 4em;
    }
  }

  .destinations {
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: black;
      text-shadow: 0 0 20px white;
      margin: 1em;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      padding: 0em;
      margin: 0.5em;

      span {
        display: none;
      }

      @include mixins.tablet {
        font-size: 1.7em;
        margin: 0;
        padding: 0em;
      }

      @include mixins.large {
        font-size: 2em;
      }
    }

    a:hover {
      box-shadow: 0 0 40px $brown;
      border-radius: 30%;
      padding: 0 0.1em;

      span {
        display: block;
      }
    }
  }
}

//404

#section-404 {
  background-image: url("../img/404ponton.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  font-family: 'Amatic SC', sans-serif;
  text-shadow: 0 0 20px white;

  .bloc-error {
    background-color: white;
    box-shadow: 0 0 20px $yellow;
    border-radius: 0 3em;
    opacity: 0.6;
    position: absolute;
    margin: 4em 2em;
    padding: 0 1em 2em 1em;

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1.5em;
    }

    @include mixins.tablet {
      margin: 15%;

      h1 {
        font-size: 3.5em;
      }

      p {
        font-size: 2.5em;
      }
    }

    @include mixins.large {
      margin: 5%;

      h1 {
        font-size: 4.5em;
      }

      p {
        font-size: 3em;
      }
    }
  }
}

//CGU

#cgu-background {
  padding: 1em;
  background-color: $yellow;
  text-align: center;
  box-shadow: inset 0 0 25px $brown;

  h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
    text-shadow: 0 0 20px black;
  }

  p {
    margin-bottom: 2em;
  }

  ul {
    text-align: left;
    list-style: circle;

    strong {
      color: $brown
    }
  }
}

//LOGIN

.login-background {
  background: radial-gradient(circle, $yellow 35%, $brown 70%, black 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.2em;

  @include mixins.tablet {
    background: radial-gradient(circle, $yellow 25%, $brown 60%, black 90%);
    font-size: 1.5em;

  }

  h1 {
    font-size: 2.5em;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em;

    .input-login {
      display: flex;
      align-items: center;
      padding: 0.3em;
      margin: 0.8em;

      input {
        padding: 0.6em;
        border-radius: 0.5em;
        border: none;
      }
    }

    .connexion {
      width: 10em;
      font-size: 0.7em;
      border-radius: 0.5em;
      border: none;
      background-color: $blue;
      box-shadow: inset 0 0 1em $brown;
      padding: 0.2em 0em;
      border-radius: 0.5em;
      font-family: 'Amatic SC', sans-serif;
      font-size: 1.2em;
    }

    .connexion:hover {
      box-shadow: inset 0 0 1em $brown;
      background-color: $yellow;
      border: 1px solid $brown;
    }
  }

  .text-login-register {
    a {
      box-shadow: inset 0 0 1em $brown;
      text-decoration: none;
      color: black;
      background-color: $blue;
      padding: 0.1em 0.5em;
      border-radius: 0.5em;
      font-size: 1.2em;
    }

    a:hover {
      box-shadow: inset 0 0 1em $brown;
      background-color: $yellow;
      border: 1px solid $brown;

    }
  }

}

//REGISTER

.main-register {
  font-family: 'Amatic SC', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/wood.jpg");
  background-size: cover;
  height: 80vh;
  object-fit: cover;
  font-size: 1.2em;
  color: $yellow;

  @include mixins.large {
    font-size: 1.5em;

  }

  h1 {
    font-size: 2em;
    margin: 1em 0 0 0;
    color: $yellow;

    @include mixins.large {
      font-size: 3em;
      margin: 0;
    }
  }

  .before-register {
    text-align: center;
    color: $yellow;
    margin: 0.2em 0 0 0;

    p {
      margin: 0.2em 0 0 0;

    }

    a {
      color: $yellow;
    }

    a:hover {
      text-decoration: dotted;
    }

  }
}

form {
  .register-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    //padding: 1em;

    label,
    input {
      margin: 0.2em 0;
    }
  }

  .register-validation {
    input {
      width: 10em;
      font-size: 0.7em;
      border-radius: 0.5em;
      border: none;
      background-color: $blue;
      box-shadow: inset 0 0 1em $brown;
      padding: 0.2em 0em;
      border-radius: 0.5em;
      font-family: 'Amatic SC', sans-serif;
      font-size: 1.2em;
      margin-top: 0.2em;
    }

    input:hover {
      box-shadow: inset 0 0 1em $brown;
      background-color: $yellow;
      border: 1px solid $brown;
    }
  }
}

//HOME

.home-background {

  background-image: url(../img/sky.webp);
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;

  @include mixins.large {
    height: 1200px;
  }

  h1,
  h2 {
    font-family: 'Amatic SC', sans-serif;
    text-align: center;

    @include mixins.tablet {
      font-size: 2.5em;
    }
  }

  .text-center {
    text-align: center;
  }


  article {

    margin: 4vh auto 4vh auto;

    @include mixins.tablet {
      margin-bottom: 6vh;
    }

    @include mixins.large {
      margin-bottom: 10vh;
    }

    .blue-back {
      position: absolute;
      background-color: $green;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 19vh;
      width: 95%;
      opacity: 0.5;
      border-radius: 0.5rem;
      margin-left: 0.35vw;

      @include mixins.tablet {
        height: 17vh;
      }

      @include mixins.large {
        height: 22.5vh;
      }
    }

    img {
      position: absolute;
      height: 10vh;
      width: 30vw;
      margin: 0.5vh auto auto 1.5vw;
      border-radius: 0.5rem;

      @include mixins.tablet {
        height: 15vh;
        width: 30vw;
      }

      @include mixins.large {
        height: 20vh;
        width: 30vw;
      }
    }

    p,
    a,
    time {
      position: relative;
      margin: 0.5vh auto auto 34vw;
      text-transform: lowercase;

      @include mixins.tablet {
        margin: 0.5vh 5vw auto 34vw;
        padding-top: 0.8vh;
        text-transform: none;
      }
    }
  }
}

// ARTICLE 

article {

  h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1rem;
  }

  h2 {
    margin: 3vh 3vw auto 4.5vw;

    @include mixins.large {
      margin-top: 5vh;
    }
  }

  p {

    margin: 3vh 3vw 1vh 4.5vw;

    @include mixins.tablet {
      margin-top: 3vh;
      margin-right: 4.5vw;
      text-transform: none;
      font-size: larger;
    }

    @include mixins.large {
      text-transform: none;
      font-size: 1.5em;
      margin-top: 5vh;
    }
  }

  .p-right {
    position: relative;
    margin: 3vh auto 3vh 33vw;
    text-transform: lowercase;

    @include mixins.tablet {
      margin: 3vh 3vw 8vh 36vw;
    }

    @include mixins.large {
      margin: 5vh 3vw 10vh 36vw;
    }
  }

  .img-back {
    position: absolute;
    background-image: url(../img/Tokyo.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    height: 102em;
    width: 95%;
    opacity: 0.2;
    border-radius: 0.5rem;
    margin-left: 0.5vw;

    @include mixins.tablet {
      height: 106em;
    }

    @include mixins.large {
      height: 127em;

    }

  }

  img {
    position: relative;
    height: 25vh;
    width: 90%;
    margin: 2vh 1rem 2vh 1rem;
    border-radius: 0.5rem;

    @include mixins.tablet {
      height: 32vh;
      margin: 2vh 2rem 2vh 2rem;
    }

    @include mixins.large {
      height: 40vh;
      margin: 2vh 3rem 2vh 2.5rem;
    }
  }

  .little-img {
    position: absolute;
    height: 10vh;
    width: 30vw;
    margin: 3vh auto auto 1.5vw;
    border-radius: 0.5rem;

    @include mixins.tablet {
      margin-top: 3vh;
      margin-left: 4vw;
      height: 14vh;
    }

    @include mixins.large {
      margin-top: 5vh;
      margin-left: 4vw;
      height: 18vh;
    }

  }

  textarea {
    width: 95%;
    margin: 0.6vh 1.75vw;

    @include mixins.tablet {
      margin: 1vh 3.5vw auto;
      width: 90%;
    }
  }

}