@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');


.aurore-boreale_background {

  background-color: $blue;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vh;
  margin-top: -1.9vh;

  .content-center {
    padding: .5em;

    a {
      margin-left: 4.5vw;
      color: red;

      @include mixins.ultra_wide {
        font-size: 1.35em;
        margin-left: 25vw;
      }
    }




    h1 {
      font-size: 2em;
      text-align: center;

      @include mixins.ultra_wide {
        font-size: 2.5em;
      }

    }

    h2 {
      font-size: 2em;
      margin-left: 4.5vw;

      @include mixins.ultra_wide {
        font-size: 2em;
        margin-left: 25vw;
      }
    }

    p {
      margin-left: 4.5vw;

      @include mixins.ultra_wide {
        font-size: 1.8em;
        margin-left: 25vw;
        margin-right: 25vw;
      }
    }

    .overflow-ellipsis {
      text-overflow: ellipsis;
      width: 85vw;
      height: 15vh;
      white-space: nowrap;
      overflow: hidden;

      @include mixins.tablet {
        height: 10.5vh;
      }

      @include mixins.large {
        height: 8.5vh;
      }

      @include mixins.ultra_wide {
        height: 11.5vh;
        width: 49vw;
      }

      ;
    }


  }

  .each_articleList {

    margin: 3vh auto auto auto;

    .taille {
      width: 95%;
      border-radius: 2rem;
      margin: auto;

      @include mixins.tablet {
        width: 75%;
        ;
      }

      @include mixins.large {
        width: 55%;
      }

      @include mixins.ultra_wide {
        height: 75vh;
        width: 50%;
      }

    }

    h3 {
      font-size: 1.5em;
      margin-left: 4.5vw;

      @include mixins.ultra_wide {
        font-size: 2em;
        margin-left: 25vw;
      }
    }

    div {
      display: flex;
      flex-direction: column;

    }

    time {

      margin-left: 4.5vw;

      @include mixins.ultra_wide {
        font-size: 1.15em;
        margin-left: 25vw;
      }
    }
  }
}