@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');
@import url('https://fonts.bunny.net/css?family=charmonman:400');
@import url('https://fonts.bunny.net/css?family=delius:400');

// ARTICLE 

.art {
  font-family: 'Amatic SC', sans-serif;
  background: linear-gradient($yellow, $green);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 3em;
    margin: 2em 0 0 0;

    @include mixins.tablet {
      font-size: 3.5em;
    }

    @include mixins.large {
      font-size: 4.5em;
    }
  }

  p {
    font-family: 'charmonman', 'handwriting';
    font-size: 1.2em;
    width: 85%;
    text-align: center;

    @include mixins.tablet {
      font-size: 1.4em;
      width: 75%;
    }

    @include mixins.large {
      font-size: 1.6em;
    }
  }

  img {
    max-width: 80%;
    margin: 2em 0;
  }

  .author_date {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    p {
      font-family: 'delius', 'serif';
    }

    button {
      background-color: $blue;
      padding: 0.5em;
      font-size: 1em;
      @include mixins.tablet {
        font-size: 1.5em;
      }
    }
  }
}