@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');


.articleList-background {

  background-color: $blue;
  min-height: 100vh;
  font-family: 'Amatic SC', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;

  h1 {
    font-size: 3em;
    margin-bottom: 0.5em;

    @include mixins.tablet {
      font-size: 2.5em;
    }

    @include mixins.large {
      font-size: 2.8em;
    }
  }

  .content-center {
    margin-bottom: 2em;

    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;

      @include mixins.tablet {
        font-size: 1em;
      }

      @include mixins.large {
        font-size: 1.1em;
      }
    }

    a {
      color: $black;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 0.5em;
      border: none;
      background-color: $blue;
      box-shadow: inset 0 0 1em $brown;
      padding: 0.5em;
      text-decoration: none;
      margin-bottom: 2em;

      &:hover {
        box-shadow: inset 0 0 1em $brown;
        background-color: $yellow;
        border: 1px solid $brown;
      }
    }

    .each_articleList {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      margin-bottom: 2em;
      width: 90%;
      margin: auto;

      @include mixins.tablet {
        width: 70%;
      }

      @include mixins.large {
        width: 60%;
      }

      h2 {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2em;
        margin-bottom: 0 0 1em 0;

        @include mixins.tablet {
          font-size: 2.2em;
        }

        @include mixins.large {
          font-size: 2.5em;
        }

      }

      img {
        width: 10%;
      }

      // .taille {
      //   
      //   height:10%;
      //   border-radius: 2rem;
      //   margin: auto;

      // }

      .infos {
        font-size: 0.9em;

        @include mixins.tablet {
          font-size: 1.2em;
        }
      }

      .overflow-ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        max-width: 90%;
        margin: auto;

        @include mixins.tablet {
          font-size: 1.2em;
        }

      }

      a {
        color: $black;
        font-size: 1.1em;

        &:hover {
          color: $yellow;
        }
      }
    }
  }
}