@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');


//AUTHORARTICLES

.AuthorArticle-background {

    background-color:$blue;
    min-height: 100vh;
    margin: auto;
  
    @include mixins.large {
      height: 1550px;
    }
  
    h1 {
      font-family: 'Amatic SC', sans-serif;
      text-align: center;
      font-size: 3em;
      margin-top: 0;
    }
  
    p {
      text-align: center;
  
      @include mixins.tablet {
        font-size: 1.1em;
      }
  
      @include mixins.ultra_wide {
        font-size: 1.3em;
      }
    }
  
    .home-article {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      font-size: 0.8em;
      margin-bottom: 2em;
      width: 90%;
      margin: auto;
  
      h2 {
        margin-bottom: 0.2em;
      }
  
      .article-bloc {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        padding: 1em;
  
        img {
          width: 40%;
          border-radius: 0.5rem;
  
          @include mixins.tablet {
           
            width: 35%;
          }
  
          @include mixins.large {
            width: 30%;
          }
  
          // @include mixins.ultra_wide {
          //   margin-left: 25vw;
          //   height: 22.5vh;
          //   width: 19vw;
          // }
        }
  
        .overflow {
          width: 55%;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 4.5em;
  
          @include mixins.tablet {
            height: 7em;
          }
  
          @include mixins.large {
            height: 11vh;
          }
  
          // @include mixins.ultra_wide {
          //   height: 12vh;
          //   width: 30vw;
          // }
  
        }
      }
  
      .home-writer-date {
        display: flex;
        align-items: center;
        margin: 0;
  
        p {
          margin: 0;
          padding: 0;
        }
      }
      a{
        margin-bottom: 1em;
      }
    }
  }