@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');
@import url('https://fonts.bunny.net/css?family=delius:400');

//AUTHORS

.authors {
  background-image: url("../img/writings\ .png");
  background-size: cover;
  min-height: 90vh;
  width: 100%;
  font-weight: bold;

  h1 {
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    color: $black;
    font-size: 3em;
    padding-top: 0.5em;
    background: rgba(250, 250, 250, 0.4);

    @include mixins.tablet {
      font-size: 3.5em;
    }

    @include mixins.large {
      font-size: 4em;
    }
  }

  p {
    font-family: 'delius', 'serif';
    text-align: center;
    margin: 0 auto 2em auto;
    width: 90%;

    @include mixins.tablet {
      font-size: 1em;
    }

    @include mixins.large {
      font-size: 1.2em;
    }
  }

  .author-column {
    height: 90%;
    text-align: center;
    margin: auto auto 2em auto;

    @include mixins.tablet {
      columns: 2;
    }

    @include mixins.large {
      columns: 3;
    }

    .one-author {
      font-family: 'delius', 'serif';
      display: inline-block;
      width: 60%;
      text-align: center;
      background-color: $black;
      color: $yellow;
      border-radius: 1em;
      padding: 0;
      margin: auto auto 1.5em auto;

      @include mixins.tablet {
        font-size: 1em;
      }

      @include mixins.large {
        font-size: 1.2em;
      }

      a {
        color: $yellow;
        text-decoration: none;

        h2 {
          margin: 0.3em 0;
        }
      }
    }
  }
}