@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

//AUTHORS

.authors {

  font-family: 'Amatic SC', sans-serif;
  background-image: url("../img/library.jpg");
  background-size: cover;
  object-fit: cover;
  color: $yellow;
  min-height: 100vh;

  h1 {
    margin: 0;
    text-shadow: #FC0 1px 0 10px;
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
    padding-top: 1em;

    @include mixins.tablet {
      font-size: 3.5em;
    }
  }

  p {
    margin: 0;
    text-align: center;
  }

  .author-column {
    height: 90%;
    text-align: center;

    @include mixins.tablet {
      columns: 2;
    }

    @include mixins.large {
      columns: 3;
    }

    .one-author {
      display: inline-block;
      width: 60%;
      text-align: center;
      background-color: $black;
      opacity: 0.9;
      font-size: 1.1em;
      color: $yellow;
      border-radius: 1em;
      padding: 0;
      margin: auto auto 1em auto;

      @include mixins.tablet {
        font-size: 1.4em;
      }

      @include mixins.large {
        font-size: 1.6em;
      }

      a {
        color: $yellow;

        h2 {
          margin: 0.3em 0;
        }
      }

    }
  }
}