@use 'variables' as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

.category-articles-background {
  background-color: $blue;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vh;
  margin-top: -1.9vh;

  .content-center {
    padding: 0.5em;

    a {
      margin-left: 4.5vw;
      color: red;

      @include mixins.ultra_wide {
        font-size: 1.35em;
        margin-left: 25vw;
      }
    }
  }

  h1 {
    font-size: 2em;
    text-align: center;

    @include mixins.ultra_wide {
      font-size: 2.5em;
    }
  }

  .article-card {
    margin: 3vh auto auto auto;
    border-radius: 2rem;
    width: 95%;

    @include mixins.tablet {
      width: 75%;
    }

    @include mixins.large {
      width: 55%;
    }

    @include mixins.ultra_wide {
      height: 75vh;
      width: 50%;
    }

    h2 {
      font-size: 2em;
      margin-left: 4.5vw;

      @include mixins.ultra_wide {
        font-size: 2em;
        margin-left: 25vw;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    .author-date {
      margin-left: 4.5vw;

      @include mixins.ultra_wide {
        font-size: 1.5em;
        margin-left: 25vw;
        margin-right: 25vw;
      }

      p {
        b {
          font-size: 1.15em;
        }

        time {
          font-size: 1.15em;
        }
      }
    }
  }
}
