@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

.comments {
    font-family: 'delius', 'serif';
    font-size: 1em;
    margin: auto auto 3em auto;
    width: 90%;
    background-color: $black;
    color: $yellow;

    @include mixins.tablet {
        margin: auto auto 10em auto;
        width: 60%;
    }

    h2 {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2em;
        margin-bottom: 1em;
        text-align: center;

        @include mixins.tablet {
            font-size: 2.3em;
        }

        @include mixins.large {
            font-size: 2.6em;
        }
    }

    i {
        margin: 1em 2em 0 2em;
        font-size: 1em;

        @include mixins.tablet {
            font-size: 1.2em;
        }

        @include mixins.large {
            font-size: 1.4em;
        }
    }

    p {
        font-family: 'delius', 'serif';
        font-size: 1em;
        margin: 0 auto 1.3em auto;
        color: white;
        text-align: left;

        @include mixins.tablet {
            font-size: 1.2em;
        }

        @include mixins.large {
            font-size: 1.6em;
        }
    }

    a {
        display: flex;
        text-align: center;
        font-size: 1em;
        margin: 1em;
        text-decoration: none;
        border: 1px solid black;
        color: $blue;
        max-width: 90%;
        justify-content: center;
        border-style: none;
    }

    form {
        background-color: $black;
        font-size: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin: auto;

        h3 {
            text-decoration: underline;
            font-size: 3.5em;
            font-family: 'Amatic SC', sans-serif;
            margin-bottom: 0.5em;

            @include mixins.tablet {
                font-size: 3.7em;
            }

            @include mixins.large {
                font-size: 4em;
            }
        }

        label {
            font-size: 1.3em;

            @include mixins.tablet {
                font-size: 1.6em;
            }
        }

        .input-comment {
            font-family: 'delius', 'serif';
            width: 95%;
            height: 15em;
            font-size: 2.5em;
            margin: 0.5em 0 1em 0;

            @include mixins.tablet {
                height: 15em;
                font-size: 2.3em;
            }

            @include mixins.large {
                font-size: 3em;
            }
        }

        .submit {
            font-size: 2em;
            padding: 0.5em;
            margin: 1em;

            @include mixins.tablet {
                font-size: 2.2em;
            }

            @include mixins.large {
                font-size: 2.5em;
            }
        }
    }

    .logToComment {
        margin: 1em auto;
    }
}