@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');



.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-image: url("../img/departure.png");
  background-size: cover;
  font-family: 'delius', 'serif';
  font-weight: bold;

  h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
    margin-top: 1em;
    padding-top: 1em;
    background: rgba(250, 250, 250, 0.4);
    width: 100%;

    @include mixins.tablet {
      font-size: 4em;
    }

    @include mixins.large {
      font-size: 5em;
    }
  }

  p {
    max-width: 80%;
    margin-bottom: 1em;
    font-size: 1em;

    background: rgba(white, 0.7);

    @include mixins.tablet {
      font-size: 1.4em;
    }

    @include mixins.large {
      font-size: 1.7em;
    }
  }

  form {
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1em auto;
    font-size: 1em;

    @include mixins.tablet {
      font-size: 1.2em;
      width: 60%;
    }

    @include mixins.large {
      font-size: 1.4em;
    }

    input,
    textarea {
      width: 80%;
      display: block;
      padding: 1em;
      margin: 1em auto 2.5em auto;
      border-radius: 5px;
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

      @include mixins.tablet {
        width: 75%;
      }
    }

    input {
      @include mixins.tablet {
        width: 35%;
      }
    }

    textarea {
      height: 15em;

      @include mixins.tablet {
        height: 20em;
      }
    }

    .form-send {
      background-color: $blue;
      box-shadow: inset 0 0 1em $brown;
      margin: 1em auto 2em auto;
      padding: 0.5em 0;
      border-radius: 0.5em;
      transition: background-color 0.2s ease-in-out;
      font-size: 1.2em;
      font-weight: bold;

      @include mixins.tablet {
        font-size: 1em;
      }

      @include mixins.large {
        font-size: 1.2em;
        width: 20%;
      }

      &:hover {
        box-shadow: inset 0 0 1em $brown;
        background-color: $yellow;
      }
    }
  }

  button {
    margin: 3em auto 3em auto;
    padding: 0.5em;
    font-size: 1em;
    background-color: $blue;
    font-weight: bold;

    @include mixins.tablet {
      font-size: 1.5em;
      margin: 3em auto 5em auto;

    }
  }
}