@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');
@import url('https://fonts.bunny.net/css?family=delius:400');

//CREATEARTICLE

#create-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $green;
  min-height: 100vh;
  background: linear-gradient($green, white);
  font-family: 'delius', 'serif';

  h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
    margin-top: 1em;
    padding-top: 1em;
    background: rgba(250, 250, 250, 0.4);
    width: 100%;
    text-align: center;

    @include mixins.tablet {
      font-size: 4em;
    }

    @include mixins.large {
      font-size: 5em;
    }
  }

  .description {
    background: rgba(white, 0.7);
    font-weight: bold;
    width: 80%;
    text-align: center;

    @include mixins.tablet {
      font-size: 1.2em;
      margin: 0.5em auto 2em auto;
    }

    @include mixins.large {
      font-size: 1.5em;
    }

    a {
      color: black;

      @include mixins.tablet {
        font-size: 1.3em;
      }
    }
  }

  button {
    margin: 1em;
  }

  .create-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;

    @include mixins.tablet {
      width: 80%;
    }

    .input-create {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;

      @include mixins.tablet {
        font-size: 1.3em;
        justify-content: space-evenly;
      }

      @include mixins.large {
        font-size: 1.5em;
      }

      input {
        padding: 0.5em;
        width: 40%;
        font-size: 1em;

        @include mixins.tablet {
          width: 25%;
        }
      }

      textarea {
        height: 10em;
        line-height: 1em;
        width: 80%;
        font-size: 1em;
        padding: 1em;

        @include mixins.tablet {
          width: 60%;
        }
      }

      select {
        width: 40%;
        padding: 0.5em;
        font-size: 1em;

        @include mixins.tablet {
          width: 25%;
        }
      }
    }
  }

  .input-create-submit {
    width: 30%;
    margin: 1em auto;
    padding: 0.5em;
    font-weight: bold;
    background-color: $blue;
    border-radius: 0.5em;

    @include mixins.tablet {
      width: 20%;
      font-size: 1.4em;
      margin: 2em auto 6em auto;

      &:hover {
        background-color: $yellow;
        box-shadow: inset 0 0 1em $brown;
        padding: 0.2em 0em;
        padding: 0.5em;
      }
    }
  }
}