@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

//CREATEARTICLE

#create-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $green;
  min-height: 90vh;
  font-size: 1em;
  color: black;

  h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: black;
    text-shadow: #FC0 1px 0 10px;
    margin: 0.5em 0 0.5em 0;

    @include mixins.tablet {
      font-size: 4em;
      margin: 0.5em;
    }
  }

  p {
    background-color: white;
    opacity: 0.8;
    font-weight: bold;
    max-width: 70%;

    @include mixins.tablet {
      font-size: 1.5em;
      margin: 0.5em;
    }

  }

  button {
    margin: 1em;
  }

  .create-form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0 1.5em 0;

    .input-create {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0em 1em 1em 1em;

      @include mixins.tablet {
        font-size: 1.5em;
        margin-top: 2.5em;
      }

      @include mixins.large {
        font-size: 1.8em;
        margin-top: 2.5em;
      }

      input {
        padding: 0.5em;
        width: 50%;
        font-size: 1em;

      }

      textarea {
        height: 3em;
        line-height: 1em;
        padding: 10px;
        width: 150%;
        font-size: 1em;
        padding: 1em;
      }

      select {
        padding: 0.5em;
        font-size: 1.2em;
      }
    }
  }

  .input-create-submit {
    max-width: 30%;
    margin: 1em auto;


    @include mixins.tablet {
      width: 60%;
      padding: 1em;
      font-size: 1.2em;
    }
  }
}