@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

//DESTINATIONS

.destinationsimg {
  background-image: url("../img/oldpaper.jpg");
  background-size: cover;
  min-height: 100vh;
  font-family: 'Amatic SC', sans-serif;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;

  .direction {
    width: 80px;
    display: block;
    margin: 2em auto;

    @include mixins.tablet {
      width: 110px;
    }

    @include mixins.large {
      width: 150px;
    }
  }

  h1 {
    font-size: 3em;
    text-decoration: underline;
    background: rgba(250, 250, 250, 0.4);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-top: 1.2em;

    @include mixins.tablet {
      font-size: 4em;
    }

    @include mixins.large {
      font-size: 5em;
    }
  }

  .destinations {
    font-size: 2.2em;
    margin: 1em auto 1em auto;
    display: flex;
    flex-direction: column;

    button {
      display: flex;
      font-family: 'Amatic SC', sans-serif;
      margin: auto;
      background-color: transparent;
      font-size: 1em;
      text-decoration: none;
      border-radius: 1em;
      border: none;
      cursor: pointer;

      span {
        display: none;
      }

      @include mixins.large {
        font-size: 2em;
      }
    }

    button:hover {
      box-shadow: 0 0 40px $brown;
      border-radius: 1em;
      padding: 0;

      span {
        display: block;
      }
    }
  }
}