@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

//DESTINATIONS

.destinationsimg {
  background-image: url("../img/foot.png");
  background-size: cover;
  min-height: 90vh;
  font-family: 'Amatic SC', sans-serif;
  width: 100%;
  margin: 0;
  padding-bottom: 1em;
  font-weight: bold;

  h1 {
    font-size: 3em;
    text-decoration: underline;
    background: rgba(250, 250, 250, 0.4);
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: 0.5em;

    @include mixins.tablet {
      font-size: 3.5em;
    }

    @include mixins.large {
      font-size: 4em;
    }
  }

  .direction {
    width: 80px;
    display: block;
    margin: auto;

    @include mixins.tablet {
      width: 100px;
    }

    @include mixins.large {
      width: 130px;
    }
  }

  p {
    font-family: 'delius', 'serif';
    text-align: center;
    margin: 0 auto 2em auto;
    width: 90%;

    @include mixins.tablet {
      font-size: 1em;
    }

    @include mixins.large {
      font-size: 1.2em;
    }
  }

  .destinations {
    font-size: 2.2em;
    margin: 1em auto 3em auto;
    display: flex;
    flex-direction: column;


    button {
      display: flex;
      font-family: 'Amatic SC', sans-serif;
      margin: 0.3em auto;
      background-color: transparent;
      font-size: 1em;
      text-decoration: none;
      border-radius: 1em;
      border: none;
      cursor: pointer;

      span {
        display: none;
      }

      @include mixins.tablet {
        font-size: 1.5em;
        margin: 0 auto;
      }
    }

    button:hover {
      box-shadow: 0 0 40px $brown;
      border-radius: 1em;
      padding: 0;

      span {
        display: block;
      }
    }
  }
}