@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

//HOME

.home-background {

  background-image: url(../img/sky.webp);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin: auto;

  @include mixins.large {
    height: 1550px;
  }

  h1 {
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    padding-top: 1em;
  }

  p {
    text-align: center;
    padding: 2em 0;

    //   @include mixins.tablet {
    //     font-size: 0.8em;
    //   }

    //   @include mixins.ultra_wide {
    //     font-size: 1.1em;
    //   }
  }

  .home-article {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2em;
    width: 90%;
    margin: auto;

    .article-bloc {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 90%;

      img {
        width: 45%;
        border-radius: 0.5rem;

        // @include mixins.tablet {
        //   height: 15vh;
        //   width: 30vw;
        // }

        // @include mixins.large {
        //   height: 20vh;
        //   width: 30vw;
        // }

        // @include mixins.ultra_wide {
        //   margin-left: 25vw;
        //   height: 22.5vh;
        //   width: 19vw;
        // }
      }

      .overflow {
        width: 60%;

        text-overflow: ellipsis;
        overflow: hidden;
        height: 5em;

        // @include mixins.tablet {
        //   height: 15vh;
        // }

        // @include mixins.large {
        //   height: 13.5vh;
        // }

        // @include mixins.ultra_wide {
        //   height: 12vh;
        //   width: 30vw;
        // }

      }
    }

    .home-writer-date {
      display: flex;
      align-items: center;
      margin: 0;
      p{
        margin:0;
        padding:0;
      }
    }
  }
}