@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');
@import url('https://fonts.bunny.net/css?family=delius:400');

//LOGIN

.login-background {
  background: radial-gradient(circle, $yellow 35%, $brown 70%, black 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 95vh;
  font-family: 'delius', 'serif';

  @include mixins.tablet {
    background: radial-gradient(circle, $yellow 25%, $brown 60%, black 90%);
  }

  h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
    margin: 1em auto 0.5em auto;
    padding-top: 1em;
    background: rgba(250, 250, 250, 0.4);
    width: 100%;

    @include mixins.tablet {
      font-size: 4em;
    }

    @include mixins.large {
      font-size: 5em;
    }
  }

  .section-form {
    width: 90%;
    font-size: 1em;

    @include mixins.tablet {
      font-size: 1.2em;
    }

    @include mixins.large {
      font-size: 1.8em;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
align-items: center;
      @include mixins.tablet {
        align-items: center;
        margin: auto;
        width: 70%;
      }

      .input-login {
        display: flex;
        align-items: center;
        padding: 0.3em;
        margin: 0.8em;
        justify-content: space-between;

        @include mixins.tablet {
          width: 60%;
        }

        input {
          margin-left: 1em;
          padding: 1em;
          border-radius: 0.5em;
          border: none;
          font-size: 0.7em;

          @include mixins.tablet {
            font-size: 0.9em;
            width: 60%;
          }
        }
      }

      .connexion {
        border: none;
        background-color: $blue;
        box-shadow: inset 0 0 1em $brown;
        padding: 0.5em;
        margin: 1em auto;
        border-radius: 0.5em;
        font-size: 1em;
      }

      .connexion:hover {
        box-shadow: inset 0 0 1em $brown;
        background-color: $yellow;
      }
    }

    .text-login-register {
      margin-top: 4em;

      h2 {
        font-size: 1em;

        @include mixins.tablet {
          font-size: 1.2em;
        }

        @include mixins.large {
          margin-top: 3em;
          font-size: 1.4em;
        }
      }

      a {
        border: none;
        box-shadow: inset 0 0 1em $brown;
        text-decoration: none;
        color: black;
        background-color: $blue;
        padding: 0.5em;
        border-radius: 0.5em;
        font-size: 1em;
      }

      a:hover {
        background-color: $yellow;
      }
    }
  }

  .unlog {
    margin: 1em;
    padding: 0.3em;
    font-size: 1em;

    @include mixins.tablet {
      font-size: 1.5em;
    }
  }

}