@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

//LOGIN

.login-background {
  background: radial-gradient(circle, $yellow 35%, $brown 70%, black 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  padding: 1em;
  min-height: 90vh;

  @include mixins.tablet {
    background: radial-gradient(circle, $yellow 25%, $brown 60%, black 90%);
  }

  h1 {
    font-size: 3em;
    margin: 2em 0 0 0;

    @include mixins.tablet {
      font-size: 4em;
    }
  }

  .section-form {
    width: 90%;
    margin-top: 1em;
    font-size: 1.2em;
    @include mixins.tablet {
      font-size: 2.5em;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0em;

      .input-login {
        display: flex;
        align-items: center;
        padding: 0.3em;
        margin: 0.8em;

        input {
          padding: 0.6em;
          border-radius: 0.5em;
          border: none;
          @include mixins.tablet {
            font-size: 0.5em;
          }
        }
      }

      .connexion {
        width: 10em;
        border: none;
        background-color: $blue;
        box-shadow: inset 0 0 1em $brown;
        padding: 0.2em 0em;
        border-radius: 0.5em;
        font-family: 'Amatic SC', sans-serif;
        font-size: 0.9em;

      }

      .connexion:hover {
        box-shadow: inset 0 0 1em $brown;
        background-color: $yellow;
        border: 1px solid $brown;
      }
    }

    .text-login-register {
      a {
        box-shadow: inset 0 0 1em $brown;
        text-decoration: none;
        color: black;
        background-color: $blue;
        padding: 0.1em 0.5em;
        border-radius: 0.5em;
      }

      a:hover {
        box-shadow: inset 0 0 1em $brown;
        background-color: $yellow;
        border: 1px solid $brown;

      }
    }
  }
  .unlog{
    margin:1em;
    padding:0.3em;
    font-size: 1em;
    @include mixins.tablet {
      font-size: 1.5em;
    }

  }
  
}