@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');

//REGISTER

.main-register {
  font-family: 'Amatic SC', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/wood.jpg");
  background-size: cover;
  height: 100vh;
  object-fit: cover;
  font-size: 1.2em;
  color: $yellow;

  @include mixins.large {
    font-size: 1.5em;

  }

  h1 {
    font-size: 2em;
    margin: 1em 0 0 0;
    color: $yellow;

    @include mixins.large {
      font-size: 3em;
      margin: 0;
    }
  }

  .before-register {
    text-align: center;
    color: $yellow;
    margin: 0.2em 0 0 0;

    p {
      margin: 0.2em 0 0 0;

    }

    a {
      color: $yellow;
    }

    a:hover {
      text-decoration: dotted;
    }

  }



  .register-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    //padding: 1em;

    label,
    input {
      margin: 0.2em 0;
    }
  }

  .register-validation {
    input {
      width: 10em;
      font-size: 0.7em;
      border-radius: 0.5em;
      border: none;
      background-color: $blue;
      box-shadow: inset 0 0 1em $brown;
      padding: 0.2em 0em;
      border-radius: 0.5em;
      font-family: 'Amatic SC', sans-serif;
      font-size: 1.2em;
      margin-top: 0.2em;
    }

    input:hover {
      box-shadow: inset 0 0 1em $brown;
      background-color: $yellow;
      border: 1px solid $brown;
    }
  }

  button {
    margin: 2em;
  }
}