@use 'variables'as *;
@use 'mixins';

@import url('https://fonts.bunny.net/css?family=amatic-sc:700');


//WELCOME

.welcome-img {
  background-image: url("../img/jeteelac.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', sans-serif;

    h1 {
      font-size: 4em;
      text-align: center;
      @include mixins.tablet {
        font-size: 7em;
      }
    }

    a {
      font-size: 3em;
      text-decoration: none;
      color: black;
      background-color: $blue;
      padding: 0em 0.2em;
      border-radius: 2em;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 40px $brown;

      img {
        width: 50px;
      }
    }

    a:hover {
      box-shadow: inset 0 0 15px $yellow;

    }
  }
}