@use 'variables' as *;
@use 'extends';
@use 'mixins';

header {

  // NAV
  nav {
    display: flex;

    img {
      height: 75px;
      width: auto;
    }
  }

  #mySidenav {
    position: fixed;
    top: 0px;
    right: -225px;
    transition: 0.3s;
    background-color: white;
    border-radius: 0 0 0 10px;
    padding: 1em;
    text-align: right;
    box-shadow: 1px 1px 7px 1px $dark;

    &.active {
      right: 0;
    }

    @include mixins.large {
      position: relative;
      top: unset;
      right: unset;
      border-radius: unset;
      padding: 0em;
      text-align: left;
      box-shadow: none;
      margin: auto 5px auto auto;

      &.active {
        right: unset;
      }
    }

    button#closeBtn {
      margin: 1em 0;
      background-color: transparent;

      // Extend -> css en plus pour le bouton , vient de _extends.scss
      @extend %boutonSpecial;

      @include mixins.large {
        display: none;
        margin: 0;
      }
    }

    ul {
      list-style-type: none;

      @include mixins.large {
        display: flex;
        list-style: none;
      }

      li {
        a {
          color: $dark;
          text-decoration: none;
        }

        @include mixins.large {
          margin: auto 15px;
          display: inline-block;
        }
      }
    }
  }
}


// ArticlesList

article {
  
}